@tailwind utilities;

:root {
  --white: #ffffff;
  --gold: #d4af37;
  --dark: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}
 